{name, "reia"}.
{authors, ["Tony Arcieri <tony@medioh.com>"]}.
{description, "Reia is a Ruby/Python-like language for BEAM, the Erlang VM"}.
{homepage, "http://reia-lang.org/"}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/tarcieri/reia.git", {branch, "master"}}}.
{build_command, "rake build"}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
{bin_files, ["bin/ire","bin/reia","bin/reiac"]}.
{caveats, "As of Feb 13, 2011, reia is known to not play well with file paths that contain dots. Please let maintainers know if this has been fixed."}.
